.gamecard {
 
  transition: transform 0.2s ease-in-out; 
  width: 18rem;
  height: 34rem;
  padding: 2em;
  text-align: center;
  
}
.gamecard:hover {
  transform: scale(1.02); 
}

.card-img-top {
    width: 100%; 
    object-fit:cover;
    height: auto;
    border-radius: 5px; 
}

.Border-Col {
    border: 1px solid #ccc;
    border-style: dashed;
    margin: 0px;
    padding: 10px;
    display: flex; 
    align-items: center;
    justify-content: center; 
    font-size: 13px;
    
  }